<template>
  <lightning-record-edit-form
    object-api-name={object}
    record-id={recordId}
    record-type-id={recordTypeId}
    onsuccess={handleOnSuccess}
    onerror={handleError}
  >
    <lightning-messages></lightning-messages>
    <template for:each={layoutArrayOne} for:item="index">
      <div key={index.one.name}>
        <div class="slds-grid slds-wrap">
          <div if:true={index.one} class={sectionOneClassName}>
            <lightning-input-field
              field-name={index.one.name}
              value={index.one.value}
              onchange={handleOnChange}
              variant={variant}
              aria-label={index.one.name}
              disabled={disabled}
              required={required}
            ></lightning-input-field>
          </div>
          <div if:true={index.two} class={sectionOneClassName}>
            <lightning-input-field
              field-name={index.two.name}
              value={index.two.value}
              onchange={handleOnChange}
              variant={variant}
              aria-label={index.two.name}
              disabled={disabled}
              required={required}
            ></lightning-input-field>
          </div>
          <div if:true={index.three} class={sectionOneClassName}>
            <lightning-input-field
              field-name={index.three.name}
              value={index.three.value}
              onchange={handleOnChange}
              variant={variant}
              aria-label={index.three.name}
              disabled={disabled}
              required={required}
            ></lightning-input-field>
          </div>
          <div if:true={index.four} class={sectionOneClassName}>
            <lightning-input-field
              field-name={index.four.name}
              value={index.four.value}
              onchange={handleOnChange}
              variant={variant}
              aria-label={index.four.name}
              disabled={disabled}
              required={required}
            ></lightning-input-field>
          </div>
        </div>
      </div>
    </template>
    <div style="height: 100px">
      <h3 style="font-size: 50px; text-align: center">
        This is a custom section.
      </h3>
    </div>
    <template for:each={layoutArrayTwo} for:item="index">
      <div key={index.one.name}>
        <div class="slds-grid slds-wrap">
          <div if:true={index.one} class={sectionTwoClassName}>
            <lightning-input-field
              field-name={index.one.name}
              value={index.one.value}
              onchange={handleOnChange}
              variant={variant}
              aria-label={index.one.name}
              disabled={disabled}
              required={required}
            ></lightning-input-field>
          </div>
          <div if:true={index.two} class={sectionTwoClassName}>
            <lightning-input-field
              field-name={index.two.name}
              value={index.two.value}
              onchange={handleOnChange}
              variant={variant}
              aria-label={index.two.name}
              disabled={disabled}
              required={required}
            ></lightning-input-field>
          </div>
          <div if:true={index.three} class={sectionTwoClassName}>
            <lightning-input-field
              field-name={index.three.name}
              value={index.three.value}
              onchange={handleOnChange}
              variant={variant}
              aria-label={index.three.name}
              disabled={disabled}
              required={required}
            ></lightning-input-field>
          </div>
          <div if:true={index.four} class={sectionTwoClassName}>
            <lightning-input-field
              field-name={index.four.name}
              value={index.four.value}
              onchange={handleOnChange}
              variant={variant}
              aria-label={index.four.name}
              disabled={disabled}
              required={required}
            ></lightning-input-field>
          </div>
        </div>
      </div>
    </template>
    <div class="slds-docked-form-footer">
      <div class="slds-grid slds-grid_align-center">
        <div class="slds-col">
          <div style="display: flex">
            <div>
              <lightning-button
                onclick={handleSubmit}
                variant="brand"
                label="Submit"
              ></lightning-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </lightning-record-edit-form>
</template>
