<template>
  <!--For each section in your form you will pass your section fields into the template below. The layout utitlity will have formatted the columns for you. 
The CSS class should be passed to the column to format the grid properly. Example for your component @track sectionOneClassName ="slds-col slds-size_1-of-" + this.sectionOneColumns-->
  <!--In the template there are examples of additional attributes you could use to customize each section. All options of the lightning input field are 
still accessible while using the template.-->
  <template for:each={layoutArrayOne} for:item="index">
    <div key={index.one.name}>
      <div class="slds-grid">
        <div if:true={index.one} class={sectionOneClassName}>
          <lightning-input-field
            field-name={index.one.name}
            value={index.one.value}
            onchange={handleOnChange}
            variant={variant}
            aria-label={index.one.name}
            disabled={disabled}
            required={required}
          ></lightning-input-field>
        </div>
        <div if:true={index.two} class={sectionOneClassName}>
          <lightning-input-field
            field-name={index.two.name}
            value={index.two.value}
            onchange={handleOnChange}
            variant={variant}
            aria-label={index.two.name}
            disabled={disabled}
            required={required}
          ></lightning-input-field>
        </div>
        <div if:true={index.three} class={sectionOneClassName}>
          <lightning-input-field
            field-name={index.three.name}
            value={index.three.value}
            onchange={handleOnChange}
            variant={variant}
            aria-label={index.three.name}
            disabled={disabled}
            required={required}
          ></lightning-input-field>
        </div>
        <div if:true={index.four} class={sectionOneClassName}>
          <lightning-input-field
            field-name={index.four.name}
            value={index.four.value}
            onchange={handleOnChange}
            variant={variant}
            aria-label={index.four.name}
            disabled={disabled}
            required={required}
          ></lightning-input-field>
        </div>
      </div>
    </div>
  </template>
</template>
